<!DOCTYPE html>

<head>

        <meta http-equiv="refresh" content="5; url={% url 'password_change' %}">
        <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" rel="stylesheet">
        <script src="//code.jquery.com/jquery.min.js"></script>
        <script crossorigin="anonymous" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="icon" type="image/png" href="https://portal.mobilenig.com/dashboardStyles/img/logo.ico">

        <title> BFF - Password </title>

</head>

<body style="font-size: 20px;">

{% block content %}

<br><br><br><br><br>
<div class="alert alert-success alert-dismissible" style="text-align:center">
        <h3>Password Change Complete</h3><hr>
        <p>Your new password has been set.<br> You are being redirected in 5 seconds.</p>
</div>

{% endblock %}

</body>
