<!DOCTYPE html>

<head>

    <title> BFF - Password </title>

</head>

{% extends "base2.html" %}

<body>

{% block content %}

<!-- Carousel
    ================================================== -->
    <div style="max-width: 100%;" id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="container">

                    <div class="carousel-caption">

                        <span style="font-size: 40px;"><b>Change Password</b></span>

                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- /.carousel -->
<br><br>
<div class="col-lg-11">

    <form method="POST">

        {% csrf_token %}

        {{form.as_p}}

        <div class="alert alert-danger alert-dismissible" style="text-align:center">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <p>Kindly Note Your New Password As You Can Only Login With That Password.</p>
        </div>

            <button class="btn btn-success">Change</button>

    </form>

<br><br><br><br><br>
</div>

{% endblock content %}

</body>
